html{
    scroll-behavior: smooth;
}

body{
	background-image:url("../img/tecnologia_2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Architects Daughter', cursive;    
    }

.container{
    width: 80%;    
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

@media screen and (max-width: 599px){
    .container{
        margin-top: 65%;
    }

}

@media screen and (min-width: 600px){
    .container{
        margin-top: 40%;
    }

}

@media screen and (min-width: 768px){
    .container{
        margin-top: 20%;
        }

    header{
        flex-direction: row;
        position: relative;
        height: 100px;
    }

    .menu-opcoes{
        position: absolute;
        right: 5%;
        top: 45%;
    }

    .menu-opcoes ul li{
        display: inline;
        margin-left: 10px;
    }
    .imglogo{
        position: absolute;
        left: 5%;
        top: 12%;
        border: 0.08em solid black;
    }

    .fundo{
        background: #D3D3D3;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 3%;
        font-size: 1.2em;
    }

    #sobre{
        flex-direction: row;
        flex-wrap: wrap;
    }  

    #sobre h1, h3, p {
        width: 100%;
        text-align: center;
    }

    #sobre .sobre{
        width: 24%;
        text-align: center;
    }

    #galeria{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin: 2px 2px;
    }

    #galeria .galeria{
        width: 50%;
        text-align: center;
        margin-bottom: 2%;
    }

    .imggaleria{
    width: 70%;
    border-radius: 50px; 
    box-shadow: 10px 10px #A9A9A9;
}

}

#sobre{
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   margin: 0 auto; 
}


#sobre .sobre{
    text-align: center;    
}

.imgsobre{
    width: 20%;
    height: 20%;
    transition: width 1s, height 1s, transform 1s;
}

.imgsobre:hover{
    width: 90px;
    height: 90px;

}

#sobre{
    flex-direction: row;
    flex-wrap: wrap;
}

.sobre{
    margin-left: 10px;
}


@media screen and (min-width: 762px){
    .component{
    width: 200;
    height: 375;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example{
    0% {
        transform: scale(0.90);
        opacity: 0;
    }

    60%{
        transform: scale(1.0);
        opacity: 1;
    }

    100%{
        transform: scale(0.95);
    }

}

    .testeri{
    border: 0.3em double  #828282;
    max-width: 485px;
    max-height: 390px;
    float: right;
    margin-left: 5%;
}

    .testeri2{
    border: 0.3em double  #828282;
    max-width: 100px;
    max-height: 200px;
    max-width: 285px;
    max-height: 390px
    float:right;
    }

}

@media screen and (max-width: 525px){

    .rtable th{
        display: none;
        padding: 0.9em;
    }

    .rtable td{
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0.4em;
    }

    .rtable td, .rtable th{
        padding: 0.8em;
    }

    .rtable{
        border: none;
    }
}

.rtable{
    width: 100%;
    text-align: center;
}

.content{
    margin-top: auto;
}

header, footer{
    background-color: #191970;
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 1.5;
}

.fixo{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.menu-opcoes{
    text-align: center; 
}

.ajustes{
    line-height: 1;
    text-align: center;
}

.ajustes li:hover{
    background-color: #708090;
}

p{
	color: #FFF;
	text-align: justify;
    font-size: 1.2em;
    margin-top: 1.3%;
    margin-bottom: 1%;

}

h1{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    color: #F8F8FF
}

h2{
    font-size: 1.5em;
    text-align: center; 
    font-weight: bold;
    background-color: #FF4040;
    color: #363636;
}

h3{
    font-size: 1.3em;
    color: #A9A9A9;
    text-decoration: underline;
}

.titulos{
    font-family: 'Indie Flower', cursive;
    text-align: center; 
    font-weight: bold;
    margin-top: 2%;
    magin-bottom: 2%;

}

.ol-listas{
    color: #FFF;
    margin-top: 1.3%;
    margin-bottom: 1%;
    text-align: justify; 
    font-size: 1.1em;
    list-style-type: decimal;
}

.ul-listas{
    color: #FFF;
    margin-top: 1.3%;
    margin-bottom: 1%;
    text-align: justify; 
    font-size: 1.1em;
    list-style-type: disc;
}

figure{

    text-align: center;
}

a:link {
  color: #00E5EE;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00E5EE;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.imgtexto{

    border: 0.3em double  #828282;
    width: 70%;
    height: 70%;
    max-width: 485px;
    max-height: 390px;
}

.imgjava{

    border: 0.3em double  #828282;
    width: 70%;
    height: 70%;
    max-width: 285px;
    max-height: 390px
}

table{
    border-collapse: collapse;
    width: 80%;
    color: #FFF;
    border: 0.4em double #fff;
    font-size: 1.2em;
    margin-right: auto;
    margin-left: auto;
    
}

td,th{
    border: 0.3em solid #828282;
    padding: 0.4em;
}

.th-text{
    font-size: 1.3em;
}


.centro{
    text-align: center;

}



.text{
    font-family: 'Indie Flower', cursive;
    text-align: center; 
    font-weight: bold;
    margin-top: 2%;
    magin-bottom: 2%;
    position: relative;
    opacity: 0;
    animation: fadeInText 0s 1.1s both;

}

.text-block{
    position: relative;
    overflow: hidden;
}

.text-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FF4040;
    transform: translateX(-100%);
    animation: enlargeBlock 0.5s 0.6s both, revealBlock 0.5s 1.1s both;
}

@keyframes fadeInText{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes enlargeBlock{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }

}

@keyframes revealBlock{
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(100%);
    }
}

 .testeri{
    border: 0.3em double  #828282;
    max-width: 275px;
    max-height: 150px;
    margin-left: 5%;
}   

.testeri2{
    border: 0.3em double  #828282;
    float:right;
    margin-left: 3%;
    width: 70%;
    height: 70%;
    max-width: 185px;
    max-height: 390px
}

.fundo{
    background: #D3D3D3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    font-size: 1.2em;
}

.distancia{
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=range]{
    width: 30%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

input[type=submit]{
    width: 100%;
    background-color: #708090;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

fieldset{
    width: 95.5%;
    border: 2px solid #ccc;
    padding: 2%;
}

.item{
    position: relative;
    margin: 10px 0px;
    color: #FFF;
    margin-top: 1.3%;
    margin-bottom: 1%;
    text-align: justify; 
    font-size: 1.1em;
}

.item::before{
    content: '';   
    position: relative;
    left: 0;
    top: 0;
    padding: 10px 15px;
    background-image: url('../img/icone_css2.png');
    background-repeat: no-repeat;
    margin-right: 15px;

}

.imggaleria{
    width: 70%;
    border-radius: 20px; 
    box-shadow: 10px 10px #A9A9A9;
}



#galeria{
    flex-direction: row;
    flex-wrap: wrap;
}